{% extends 'base.html' %}

{% block content %}
    <h1>Home Of The Secret Kimchi Flavour Your Mom Used To Make</h1>
        <div class="media">
            <img src="https://scontent.fhnd2-1.fna.fbcdn.net/v/t1.0-0/p206x206/80829578_10221929495971012_1565457159246839808_n.jpg?_nc_cat=111&_nc_oc=AQlg-fWYWAzLiId-TaJistRTNg2oCtwRvQefQ_J0PlNrSvwprngx9bx_doRt7WTZSLA&_nc_ht=scontent.fhnd2-1.fna&oh=d16d29324c16b0aeefe99ff7b66c3e19&oe=5E9BF5CF" class="img-thumbnail" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Best Kimchi Makers Ever In the History Of Kimchi Making</h5>
                <p>What colour coordination from the Choo family, dressed in the red of kimchi.</p>
<!--                <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
            </div>
        </div>
{% endblock content %}