{% extends 'base.html' %}

{% block content %}
    <h1>Home Of The Secret Kimchi Flavour Your Mom Used To Make</h1>
        <div class="media">
            <img src="https://scontent.fhnd2-1.fna.fbcdn.net/v/t1.15752-9/p1080x2048/81068507_474295259920015_6331438683782119424_n.jpg?_nc_cat=104&_nc_oc=AQk-3i0exxi12L1xqG3vCYqZ_4J5_62fJUepnXr1e4a--DhvksHny1vAGrQXh9Uss18&_nc_ht=scontent.fhnd2-1.fna&oh=526401e44777a5752089c2e322555a41&oe=5EAC3F7E" class="img-thumbnail" alt="...">
            <div class="media-body">
                <h5 class="mt-0">Kimchi Kimchi Kimchi</h5>
                <p>That's a big picture of Kimchi right there.</p>
<!--                <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
            </div>
        </div>
{% endblock content %}